<ion-content [fullscreen]="true">
  <div class="main-container">
    <div class="container1">
      <img src=" ../../../assets/logo-white-bg-2.png" class="icon" alt="ColorFulMe Logo">
    </div>
    <div class="container2 fadeIn first">
      <ion-card class="fadeIn second">
        <img alt="ColorFulMe App" src="../../../assets/logo-flag-no-bg.png" />
        <ion-card-header>
          <ion-card-title>Welcome to ColorFulMe App</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          This is a sample app prototype which provides those who have colorblindness
          see what normal people can see with photos.
        </ion-card-content>
        <ion-button (click)="getStarted()">Get Started</ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>