// ion-content ion-toolbar {
//   --background: translucent;
// }

ion-footer {
  text-align: center;
}

.imageNormal {
  filter: hue-rotate(0);
}

.imageProtanopia {
  filter: hue-rotate(10deg) saturate(4);
}

.imageTritanopia {
  filter: hue-rotate(90deg);
}

.imageDeuteranopia {
  filter: contrast(200%) saturate(4);
}

.imageRedGreen {
  filter: saturate(4)
}