ion-content ion-toolbar {
  --background: translucent;
}

.imageNormal {
  filter: hue-rotate(0);
}

.imageProtanopia {
  filter: hue-rotate(10deg);
  filter: saturate(4)
}

.imageTritanopia {
  filter: hue-rotate(90deg);
}

.imageDeuteranopia {
  filter: contrast(200%);
  filter: saturate(4)
}

.imageRedGreen {
  filter: saturate(4)
}