<ion-content [fullscreen]="true" scroll-y="false">
  <ion-card class="main-container">
    <form [formGroup]="form" class="container1">
      <ion-item>
        <ion-input label="Email Address" type="email" required="true" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Username" type="email" required="true" formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Password" type="password" required="true" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="First Name" type="string" required="true" formControlName="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Last Name" type="string" required="true" formControlName="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Age" type="number" required="true" formControlName="age"></ion-input>
      </ion-item>
      <ion-button color="success" size="full" (click)="createUser()">Next</ion-button>
    </form>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>ColorFulMe App | Team Sentinel - Hackaton © 2023</ion-title>
  </ion-toolbar>
</ion-footer>