<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ishihara test</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
  <p align="center">
    <img alt="Silhouette of mountains" height="200 px" width="200 px" src="/assets/colorblindtest-images/1-dark.png" />
    <ion-card-header>
      <ion-list>
        <ion-item>
          <ion-textarea placeholder="Enter The Number"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <img alt="Silhouette of mountains" height="200 px" width="200 px" src="/assets/colorblindtest-images/2-dark.png" />
    <ion-card-header>
      <ion-list>
        <ion-item>
          <ion-textarea placeholder="Enter The Number"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <img alt="Silhouette of mountains" height="200 px" width="200 px" src="/assets/colorblindtest-images/3-dark.png" />
    <ion-card-header>
      <ion-list>
        <ion-item>
          <ion-textarea placeholder="Enter The Number"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <img alt="Silhouette of mountains" height="200 px" width="200 px" src="/assets/colorblindtest-images/4-light.png" />
    <ion-card-header>
      <ion-list>
        <ion-item>
          <ion-textarea placeholder="Enter The Number"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <img alt="Silhouette of mountains" height="200 px" width="200 px" src="/assets/colorblindtest-images/5-med.png" />
    <ion-card-header>
      <ion-list>
        <ion-item>
          <ion-textarea placeholder="Enter The Number"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <img alt="Silhouette of mountains" height="200 px" width="200 px" src="/assets/colorblindtest-images/6-light.png" />
    <ion-card-header>
      <ion-list>
        <ion-item>
          <ion-textarea placeholder="Enter The Number"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-header>
  </p>
  </ion-card>
</ion-content>